NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://Anuj:Anuj1234@cluster0.gxgnqqs.mongodb.net/
JWT_SECRET=3d8f60c9ccf8e3a50e4e38d90dd7369813d42d46ba5802bdb6499fc4cb1f47db
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
